[submodule "tests/test-roms/nes-test-roms"]
	path = tests/test-roms/nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms
[submodule "tests/test-roms/AccuracyCoin"]
	path = tests/test-roms/AccuracyCoin
	url = https://github.com/100thCoin/AccuracyCoin
[submodule "external/fbcp-ili9341"]
	path = external/fbcp-ili9341
	url = git@github.com:juj/fbcp-ili9341.git
